[user]
	name = Lucas Clemente
	email = luke.clemente@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[branch]
  autosetupmerge = true
[grep]
  lineNumber = true
[color]
	ui = 1
[push]
	default = matching
[mergetool]
	keepBackup = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
  subpull = submodule foreach git pull origin master
