[user]
	name = Lucas Clemente
	email = lucas@clemente.io
[core]
	excludesfile = /Users/lucas/.gitignore_global
	trustctime = false
[branch]
  autosetupmerge = true
[grep]
  lineNumber = true
[color]
	ui = 1
[push]
	default = matching
[mergetool]
	keepBackup = true
	prompt = false
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[alias]
  subpull = submodule foreach git pull origin master
[credential]
	helper = osxkeychain
[http]
	sslCert = Lucas Clemente
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[pull]
	rebase = true
