/.CFUserTextEncoding
/.DS_Store
/.MacOSX
/.Trash
/.XSManager
/.Xauthority
/.adobe
/.aqbanking
/.artofillusion
/.bash_profile
/.bashrc
/.bundler
/.cache
/.codeintel
/.config
/.cups
/.cvspass
/.dbshell
/.designer
/.dropbox
/.dvdcss
/.ec2
/.endgame
/.fontconfig
/.fossil
/.gdb_history
/.gdbinit
/.gem
/.git
/.gitk
/.gnuplot_history
/.guard_history
/.heroku
/.hgignore_global
/.hgrc
/.htoprc
/.hushlogin
/.imagineer_log.txt
/.inkscape-etc
/.ipython
/.irb-history
/.irb_history
/.jamestown
/.lesshst
/.lldb-history
/.local
/.matlab
/.matplotlib
/.mongorc.js
/.mplayer
/.msf4
/.mysql_history
/.netrc
/.neubot
/.npm
/.pgpass
/.pip
/.povray
/.profile
/.psql_history
/.rbenv
/.rbx
/.rnd
/.rubinius_last_error
/.runivedo_history
/.sage
/.selenium
/.serverauth.14658
/.serverauth.19270
/.slocdata
/.sqlite_history
/.ssh
/.subversion
/.sympy-history
/.textadept
/.thumbnails
/.tm_properties
/.trine
/.vim
/.viminfo
/.virtualenvs
/.wapi
/.watchr_images
/.wireshark
/.wireshark-etc
/.zcompdump
/.zsh-update
/.zsh_history
/Action
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/software
/src
/test
/univedo
/.gremlin_groovy_history
/.orientdb_history
/.s3cfg
/.node-gyp
