[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/zsh-history-substring-search"]
	path = zsh/.zsh/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search
[submodule "vim/vim/maximum-awesome"]
	path = vim/vim/maximum-awesome
	url = git@github.com:square/maximum-awesome.git
